/*=======[Fonts]======*/
@font-face{
    src: url(../fonts/font/roboto/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}
/*=======[Body]======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*=======[Navigation]======*/
.typing{
    font-family: Roboto-Regular;
    font-size: 40px;
    color: tomato;
}
